.btn {
    font-family: "Ubuntu", sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 2;
    height: auto;
    transition: all 200ms linear;
    border-radius: 4px;
    width: auto;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    outline: 0;
    text-transform: capitalize;
    margin-right: 30px;
  }